<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results </title>
    <style>
        body {
            margin: 0 0 0 0;
            background-color: #f7f7f7;
        }

        #content {
            margin: 2% auto;
            width: 80%;
            background-color: #ffffff;
            padding: 2em;
            box-shadow: 0px 2px 4px #444;
            border-radius: .2em;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        form > label {
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div id="content">
            {% block 'content' %}
            {% endblock %}
    </div>
</body>
</html>