<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
    <form action="/search/">
        <label>
            Resource:
            <input type="text" name="source" />
        </label>
        <label>
            Termo:
            <input type="text" name="q" />
        </label>
        <input type="submit" value="Search">
    </form>
</body>
</html>